# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# OS
.DS_Store

# Output generado por el programa
output/

# Config opcional local
config/*.local.json

# Archivos temporales
*.log
